<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Library</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of quoteCollection">
      <ion-icon name="{{item.icon}}" item-start></ion-icon>
      <h2>{{item.category | uppercase}}</h2>
      <p >{{item.quotes.length}} quote(s)</p>
    </ion-item>
  </ion-list>
</ion-content>
